{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  {{ partial "page.html" . }}
  {{ partial "posts/math.html" . }}

  <script src="https://giscus.app/client.js"
    data-repo="martinribelotta/martinribelotta.github.io"
    data-repo-id="R_kgDOLaVDig"
    data-category="General"
    data-category-id="DIC_kwDOLaVDis4CryBH"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="es"
    crossorigin="anonymous"
    async>
  </script>
{{ end }}
